
/* responsive  for mobile device  */
@media only screen and (max-width:688px){
    body{
        margin: 0;
        padding: 0;
    }

    /* Responsive mobile Navigation  start */
    .nav-container{
         display: flex;
         flex-direction: column;
         justify-content: center;
         margin-top: 50px;
         margin-right: 0px;
         margin-left: 0px;
     }
     .nav-text{
         text-align: center;
     }
     .nav-link{
         text-align: center;
         margin-top: 25px;
     }
     .nav-link a{
         display: block;
         margin-top: 10px;
         
     }
    .nav-link a:last-child{
         margin-right: 35px;
    }
/* Responsive mobile Navigation  end */

/* Responsive mobile Header section  strat */
    .header-container{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
    .header-text{
        order: 2;
    }
    .header-text h1{
        font-size: 28px;
        text-align: center;
    }
    .header-text p{
        text-align: center;
    }


    .header-picture{
        order: 1;
        width: 100%;
    }
    .img-box{
    width: 50%;
    margin: 0 auto;
    }
    .img-box img{
        width: 100%;
    }
/* Responsive mobile Header section  end */
}





/*****************************
 responsive  for Tablet device 
 ******************************/
@media only screen and (min-width:689px)and (max-width:992px) {
    
    /* Responsive Tablet Navigation  start  */
    .nav-container{
        display: flex;   
        flex-direction: column; 
        margin: 90px 100px 20px 100px;
    }
    .nav-text{
        text-align: center;
    }
    .nav-link{
        text-align: center;
        margin-top: 30px;
    }

/* Responsive Tablet Navigation  end  */

/* Responsive Tablet Header section start*/
    .header-container{
        margin: 50px 80px;
    }
    .header-text h1{
        font-size: 28px;
    }
    .img-box{
        height: 260px;
        width: 260px;
    }
    .img-box img{
        margin-top: 70px;
        width: 100%;
    }
/* Responsive Tablet Header section end*/



}